/* GLOBAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    text-align: center;
}

/* REMOVE LINK STYLE */
a {
    text-decoration: none;
    color: inherit;
}

/* BOX */
.box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 450px;
    margin: 40px auto;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* DROP AREA */
#drop-area {
    border: 2px dashed orange;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

#drop-area input {
    display: none;
}

/* INPUT */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(135deg, orange, #f59e0b);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background: #ea580c;
}

/* STATUS */
#status {
    margin-top: 10px;
    font-weight: bold;
}